# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore environment configuration file
sso.sh
heroku.keys
config/initializers/secret_token.rb
